
<div class="w-full p-2 mx-auto z-0 bg-gradient-to-b from-white to-blue-50 py-16">
  <header class="w-full flex justify-center flex-col lg:flex-row items-center gap-4">
    <svg
      width="64px"
      height="64px"
      viewBox="0 0 1024 1024"
      class="icon"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      fill="#000000"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M854.7 828.1H169.9c-38.9 0-70.5-31.6-70.5-70.5v-499c0-38.9 31.6-70.5 70.5-70.5h684.7c38.9 0 70.5 31.6 70.5 70.5v499c0.1 38.9-31.5 70.5-70.4 70.5z"
          fill="#FFFFFF"
        ></path>
        <path
          d="M885.2 258.1c0-16.5-13.5-30-30-30H169.4c-16.5 0-30 13.5-30 30v120.1h745.7V258.1z m-649.7 96.1c-28.2 0-51.2-23-51.2-51.2s23-51.2 51.2-51.2 51.2 23 51.2 51.2-22.9 51.2-51.2 51.2z m281.8-6.8H374.7c-24.1 0-43.7-19.6-43.7-43.7s19.6-43.7 43.7-43.7h142.6c24.1 0 43.7 19.6 43.7 43.7s-19.6 43.7-43.7 43.7z"
          fill="#E6E6E6"
        ></path>
        <path
          d="M213.3 752.8h298.8c5.5 0 10-4.5 10-10s-4.5-10-10-10H213.3c-8.5 0-15.4-6.9-15.4-15.4V524.6c0-5.5-4.5-10-10-10s-10 4.5-10 10v192.9c0.1 19.4 15.9 35.3 35.4 35.3z"
          fill="#06F3FF"
        ></path>
        <path
          d="M235.5 271.8c-17.2 0-31.2 14-31.2 31.2s14 31.2 31.2 31.2 31.2-14 31.2-31.2-14-31.2-31.2-31.2z"
          fill="#FFFFFF"
        ></path>
        <path
          d="M235.5 251.8c-28.2 0-51.2 23-51.2 51.2s23 51.2 51.2 51.2 51.2-23 51.2-51.2-22.9-51.2-51.2-51.2z m0 82.4c-17.2 0-31.2-14-31.2-31.2s14-31.2 31.2-31.2 31.2 14 31.2 31.2-14 31.2-31.2 31.2z"
          fill="#005BFF"
        ></path>
        <path
          d="M517.3 280.1H374.7c-13 0-23.7 10.6-23.7 23.7s10.6 23.7 23.7 23.7h142.6c13 0 23.7-10.6 23.7-23.7s-10.7-23.7-23.7-23.7z"
          fill="#FFFFFF"
        ></path>
        <path
          d="M517.3 260.1H374.7c-24.1 0-43.7 19.6-43.7 43.7s19.6 43.7 43.7 43.7h142.6c24.1 0 43.7-19.6 43.7-43.7s-19.6-43.7-43.7-43.7z m0 67.3H374.7c-13 0-23.7-10.6-23.7-23.7s10.6-23.7 23.7-23.7h142.6c13 0 23.7 10.6 23.7 23.7s-10.7 23.7-23.7 23.7z"
          fill="#005BFF"
        ></path>
        <path
          d="M855.2 188.1H169.4c-38.6 0-70 31.4-70 70v500c0 38.6 31.4 70 70 70h685.7c38.6 0 70-31.4 70-70v-500c0.1-38.6-31.3-70-69.9-70z m30 570c0 16.5-13.5 30-30 30H169.4c-16.5 0-30-13.5-30-30V398.2h745.7v359.9z m0-379.9H139.5V258.1c0-16.5 13.5-30 30-30h685.7c16.5 0 30 13.5 30 30v120.1z"
          fill="#005BFF"
        ></path>
        <path
          d="M459.9 624.6l-114.3-45.3 114.3-43.7v-46.5L296.1 560v39.5l163.8 71.2zM568.7 454.8h-34.4L475.1 702h33.8zM747.9 560.3l-164-70.9v45.8l114.4 44.5-114.4 45v46.2l164-71.4z"
          fill="#005BFF"
        ></path>
      </g>
    </svg>
    <h1 class="lg:text-3xl text-xl text-center font-bold text-gray-700">
      Twoje potrzeby, nasza pasja - Kompleksowe rozwiązania DevOps
    </h1>
  </header>
  <div class="mt-16">
    <div class="lg:w-9/12 w-full mx-auto border-x-4 border-t-4 rounded-t-xl bg-white text-gray-800 relative overflow-hidden">
      <div class="pt-12 pb-24 px-8">
        <p class="lg:text-2xl text-xl text-center z-10">
          Witaj! Jesteśmy zespołem pasjonatów technologii gotowych, by pomóc Ci wdrożyć aplikację do wizualizacji i gromadzenia danych.
        </p>
      </div>
    
      <!-- Icons below the text, absolutely positioned -->
      <div class="absolute bottom-0  w-full pb-4 flex justify-between z-0 opacity-20">
        <!-- First Icon - Left -->
        <svg width="48px" height="48px" class=" icon rotate-12" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
          <g id="SVGRepo_iconCarrier">
            <path d="M762.1 944.8l-660-230v-552l660 192z" fill="#37BBEF"></path>
            <path d="M762.1 944.8l160-170v-550l-160 130z" fill="#2481BA"></path>
            <path d="M102.1 162.8l660 192 160-130L297.7 68.2z" fill="#3ED6FF"></path>
            <path d="M922.1 399.4v-25.7l-160 129.7v2.7l-244.3-74.8V297.6h-20v127.6l-262-80.2V210.7h-20v128.1L102.1 304v20.9l233.7 71.5v112l-233.7-74.9v21l113.7 36.4v121.9l-113.7-36.4v21l233.7 74.9v123.9l20 7V678.8l280 89.7v132.3l20 7V774.9L762.1 809v2.3l160-153.8v-28.6l-160 153.8v5.3l-244.3-78.3V587.8l244.3 78.3v1.4l160-141.8v-27.1l-160 141.8v4.8l-106.3-34.1V494.4L762.1 527v2.1l160-129.7zM497.8 703.3l-262-84V497.5l262 84v121.8z m138-98.6l-280-89.7V402.6l280 85.7v116.4z" fill="#FFFFFF"></path>
          </g>
        </svg>
    
        <!-- Second Icon - Centered -->
        <svg width="64px" height="64px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
          <g id="SVGRepo_iconCarrier">
            <path d="M117 608.4v178.5c1.5 93.7 155.7 169.5 395 169.5s393.4-75.8 395-169.5V608.4H117z" fill="#1B9BDB"></path>
            <path d="M907 607.7c0 99.4-154.8 180-395 180s-395-80.6-395-180 154.8-180 395-180 395 80.5 395 180z" fill="#FFFFFF"></path>
            <path d="M117 428.4v158.5c1.5 93.7 155.7 179.5 395 179.5s393.4-85.8 395-179.5V428.4H117z" fill="#1B9BDB"></path>
            <path d="M907 427.7c0 99.4-154.8 180-395 180s-395-80.6-395-180 154.8-180 395-180 395 80.5 395 180z" fill="#FFFFFF"></path>
            <path d="M117 248.4v158.5c1.5 93.7 155.7 179.5 395 179.5s393.4-85.8 395-179.5V248.4H117z" fill="#1B9BDB"></path>
            <path d="M907 247.7c0 99.4-154.8 180-395 180s-395-80.6-395-180 154.8-180 395-180 395 80.5 395 180z" fill="#3ED6FF"></path>
          </g>
        </svg>
    
        <!-- Third Icon - Right -->
        <svg width="64px" height="64px" viewBox="0 0 1024 1024" class="icon rotate-45" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
          <g id="SVGRepo_iconCarrier">
            <path d="M903.9 547c0.4-58.5-31.8-113.9-77.1-140.1l1.1-176.6L648 200.5c-15.9-54.4-59.2-98.6-110.3-107S443 115 426.8 163.8L246.9 134v167.4c57.1 18.6 101 81.4 100.9 148.3-0.1 66.9-44 114.3-100.9 113v167.4L824 836.5l1.1-166.2c45.5-10.4 78.4-64.8 78.8-123.3z" fill="#1B9BDB"></path>
            <path d="M246.9 134l-126.8 91.1 181.8 37.7 36.3-113.5z" fill="#1B9BDB"></path>
            <path d="M344.6 199.6l116.5-86.8s27.1-23.4 66.6-20.6c38.9 2.7 76.5 27.6 99.8 64.1 17.7 27.7 20.2 44.1 20.2 44.1L520 296.7s-15-64.5-72.7-95.4c-41.5-22.3-75.5-13.6-92-6.6-6.8 2.8-10.7 4.9-10.7 4.9zM827.8 230.5L701 327l-0.9 176.6 126.7-96.7zM698.1 756.4l127.1-86.2v166.3l-128.1 95.4z" fill="#2481BA"></path>
            <path d="M729.7 742.6l119-82.2 8.5-33-124.4 91.1z" fill="#1B9BDB"></path>
            <path d="M777.2 644.4c0.4-58.5-31.8-114.3-77.1-141.1l1.1-176.3-179.9-31.5c-15.9-54.3-59.2-98.6-110.3-107.3s-94.7 20.4-110.9 68.5l-179.9-31.5V390c57.1 19.2 101 81.9 100.9 148s-44 112-100.9 109.4v164.9L697.3 932l1.1-176.3c45.5-9.5 78.3-52.8 78.8-111.3z" fill="#3ED6FF"></path>
          </g>
        </svg>
      </div>
    </div>


    <div class="lg:w-9/12 w-full mx-auto border-4 p-4  text-gray-800 bg-white">
      <ul class="lg:text-lg text-md list-disc pl-8 space-y-2">
        <li>Instalujemy <b>Grafanę</b> oraz konfigurujemy bazy danych.</li>
        <li>Integrujemy nasze rozwiązania z Twoją infrastrukturą.</li>
        <li>Tworzymy aplikacje webowe i strony internetowe.</li>
        <li>Wspieramy i utrzymujemy oprogramowanie.</li>
      </ul>
    </div>
  </div>
      <!-- Sekcja zalet -->
  <div class="lg:w-9/12 w-full mx-auto mt-16 p-8 bg-white border-4 border-dashed">
    <h2 class="text-2xl font-bold text-gray-800 mb-6 flex items-center gap-2">
      <svg width="32px" height="32px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M512 64l100.266667 76.8 123.733333-17.066667 46.933333 117.333334 117.333334 46.933333-17.066667 123.733333L960 512l-76.8 100.266667 17.066667 123.733333-117.333334 46.933333-46.933333 117.333334-123.733333-17.066667L512 960l-100.266667-76.8-123.733333 17.066667-46.933333-117.333334-117.333334-46.933333 17.066667-123.733333L64 512l76.8-100.266667-17.066667-123.733333 117.333334-46.933333 46.933333-117.333334 123.733333 17.066667z" fill="#8BC34A"></path><path d="M738.133333 311.466667L448 601.6l-119.466667-119.466667-59.733333 59.733334 179.2 179.2 349.866667-349.866667z" fill="#CCFF90"></path></g>
      </svg>
      Zalety wdrożenia narzędzi do wizualizacji danych
    </h2>
    <ul class="list-none space-y-4">
      <li class="flex items-start gap-4 pl-4">
        <svg width="24px" height="24px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M853.333333 448h85.333334v490.666667h-85.333334zM725.333333 597.333333h85.333334v341.333334h-85.333334zM597.333333 490.666667h85.333334v448h-85.333334zM469.333333 618.666667h85.333334v320h-85.333334zM341.333333 682.666667h85.333334v256h-85.333334zM213.333333 640h85.333334v298.666667h-85.333334zM85.333333 725.333333h85.333334v213.333334H85.333333z" fill="#6b70ff"></path><path d="M855.466667 194.133333L725.333333 324.266667l-85.333333-85.333334-213.333333 213.333334-106.666667-106.666667L98.133333 567.466667l59.733334 59.733333 162.133333-162.133333 106.666667 106.666666 213.333333-213.333333 85.333333 85.333333 189.866667-189.866666z" fill="#859dff"></path><path d="M938.666667 170.666667h-192l192 192z" fill="#859dff"></path></g>
        </svg>
        <p><b>Oszczędność kosztów:</b> Możliwość optymalizacji zużycia energii i identyfikacji strat.</p>
      </li>
      <li class="flex items-start gap-4 pl-4">
        <svg width="24px" height="24px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M704 341.333333m-128 0a128 128 0 1 0 256 0 128 128 0 1 0-256 0Z" fill="#37474F"></path><path d="M320 341.333333m-128 0a128 128 0 1 0 256 0 128 128 0 1 0-256 0Z" fill="#37474F"></path><path d="M996.266667 533.333333l-326.4 64H356.266667L29.866667 533.333333l91.733333-168.533333C145.066667 324.266667 187.733333 298.666667 234.666667 298.666667h558.933333c46.933333 0 89.6 25.6 113.066667 66.133333l89.6 168.533333z" fill="#37474F"></path><path d="M810.666667 640m-213.333334 0a213.333333 213.333333 0 1 0 426.666667 0 213.333333 213.333333 0 1 0-426.666667 0Z" fill="#37474F"></path><path d="M213.333333 640m-213.333333 0a213.333333 213.333333 0 1 0 426.666667 0 213.333333 213.333333 0 1 0-426.666667 0Z" fill="#37474F"></path><path d="M512 597.333333m-106.666667 0a106.666667 106.666667 0 1 0 213.333334 0 106.666667 106.666667 0 1 0-213.333334 0Z" fill="#37474F"></path><path d="M512 597.333333m-42.666667 0a42.666667 42.666667 0 1 0 85.333334 0 42.666667 42.666667 0 1 0-85.333334 0Z" fill="#546E7A"></path><path d="M810.666667 640m-149.333334 0a149.333333 149.333333 0 1 0 298.666667 0 149.333333 149.333333 0 1 0-298.666667 0Z" fill="#AA00FF"></path><path d="M213.333333 640m-149.333333 0a149.333333 149.333333 0 1 0 298.666667 0 149.333333 149.333333 0 1 0-298.666667 0Z" fill="#AA00FF"></path><path d="M889.6 590.933333c-21.333333-23.466667-49.066667-36.266667-78.933333-36.266666s-59.733333 12.8-78.933334 36.266666c-8.533333 8.533333-6.4 21.333333 2.133334 29.866667 8.533333 8.533333 21.333333 6.4 29.866666-2.133333 25.6-27.733333 70.4-27.733333 96 0 4.266667 4.266667 10.666667 6.4 14.933334 6.4 4.266667 0 10.666667-2.133333 14.933333-6.4 8.533333-6.4 8.533333-19.2 0-27.733334zM213.333333 554.666667c-29.866667 0-59.733333 12.8-78.933333 36.266666-8.533333 8.533333-6.4 21.333333 2.133333 29.866667 8.533333 8.533333 21.333333 6.4 29.866667-2.133333 25.6-27.733333 70.4-27.733333 96 0 4.266667 4.266667 10.666667 6.4 14.933333 6.4 4.266667 0 10.666667-2.133333 14.933334-6.4 8.533333-8.533333 8.533333-21.333333 2.133333-29.866667-21.333333-21.333333-51.2-34.133333-81.066667-34.133333z" fill="#CE93D8"></path></g>
        </svg>
        <p><b>Monitorowanie w czasie rzeczywistym:</b> Szybka reakcja na problemy i przejrzystość procesów.</p>
      </li>
      <li class="flex items-start gap-4 pl-4">
        <svg width="24px" height="24px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M512 85.333333C277.333333 85.333333 85.333333 277.333333 85.333333 512s192 426.666667 426.666667 426.666667 426.666667-192 426.666667-426.666667S746.666667 85.333333 512 85.333333z" fill="#7CB342"></path><path d="M960 512c0 249.6-202.666667 448-448 448S64 761.6 64 512 262.4 64 512 64s448 198.4 448 448z m-452.266667 206.933333c0-8.533333-4.266667-12.8-12.8-17.066666-27.733333-8.533333-53.333333-8.533333-76.8-32-4.266667-8.533333-4.266667-17.066667-8.533333-27.733334-8.533333-8.533333-32-12.8-44.8-17.066666h-89.6c-12.8-4.266667-23.466667-23.466667-32-36.266667 0-4.266667 0-12.8-8.533333-12.8-8.533333-4.266667-17.066667 4.266667-27.733334 0-4.266667-4.266667-4.266667-8.533333-4.266666-12.8 0-12.8 8.533333-27.733333 17.066666-36.266667 12.8-8.533333 27.733333 4.266667 40.533334 4.266667 4.266667 0 4.266667 0 8.533333 4.266667 12.8 4.266667 17.066667 21.333333 17.066667 36.266666v8.533334c0 4.266667 4.266667 4.266667 8.533333 4.266666 4.266667-23.466667 4.266667-44.8 8.533333-68.266666 0-27.733333 27.733333-53.333333 49.066667-61.866667 8.533333-4.266667 12.8 4.266667 23.466667 0 27.733333-8.533333 93.866667-36.266667 81.066666-72.533333-8.533333-32-36.266667-61.866667-72.533333-57.6-8.533333 4.266667-12.8 8.533333-21.333333 12.8-12.8 8.533333-40.533333 36.266667-53.333334 36.266666-23.466667-4.266667-23.466667-36.266667-17.066666-49.066666 4.266667-17.066667 44.8-76.8 72.533333-66.133334l17.066667 17.066667c8.533333 4.266667 23.466667 4.266667 36.266666 4.266667 4.266667 0 8.533333 0 12.8-4.266667 4.266667-4.266667 4.266667-4.266667 4.266667-8.533333 0-12.8-12.8-27.733333-21.333333-36.266667-8.533333-8.533333-23.466667-17.066667-36.266667-23.466667-44.8-12.8-117.333333 4.266667-151.466667 36.266667s-61.866667 85.333333-81.066666 130.133333c-8.533333 27.733333-17.066667 61.866667-21.333334 93.866667-4.266667 21.333333-8.533333 40.533333 4.266667 61.866667 12.8 27.733333 40.533333 53.333333 68.266667 72.533333 17.066667 12.8 53.333333 12.8 72.533333 36.266667 12.8 17.066667 8.533333 40.533333 8.533333 61.866666 0 27.733333 17.066667 49.066667 27.733334 72.533334 4.266667 12.8 8.533333 32 12.8 44.8 0 4.266667 4.266667 32 4.266666 36.266666 27.733333 12.8 49.066667 27.733333 81.066667 36.266667 4.266667 0 21.333333-27.733333 21.333333-32 12.8-12.8 23.466667-32 36.266667-40.533333 8.533333-4.266667 17.066667-8.533333 27.733333-17.066667 8.533333-8.533333 12.8-27.733333 17.066667-40.533333 2.133333-10.666667 6.4-27.733333 2.133333-40.533334z m8.533334-413.866666c4.266667 0 8.533333-4.266667 17.066666-8.533334 12.8-8.533333 27.733333-23.466667 40.533334-32 12.8-8.533333 27.733333-23.466667 36.266666-32 12.8-8.533333 23.466667-27.733333 27.733334-40.533333 4.266667-8.533333 17.066667-27.733333 12.8-40.533333-4.266667-8.533333-27.733333-12.8-36.266667-17.066667-36.266667-8.533333-66.133333-12.8-102.4-12.8-12.8 0-32 4.266667-36.266667 17.066667-4.266667 23.466667 12.8 17.066667 32 23.466666 0 0 4.266667 36.266667 4.266667 40.533334 4.266667 21.333333-8.533333 36.266667-8.533333 57.6 0 12.8 0 36.266667 8.533333 44.8h4.266667zM891.733333 618.666667c4.266667-8.533333 4.266667-23.466667 8.533334-32 4.266667-21.333333 4.266667-44.8 4.266666-66.133334 0-44.8-4.266667-89.6-17.066666-130.133333-8.533333-12.8-12.8-27.733333-17.066667-40.533333-8.533333-23.466667-21.333333-44.8-40.533333-61.866667-17.066667-23.466667-40.533333-85.333333-81.066667-66.133333-12.8 4.266667-21.333333 21.333333-32 32-8.533333 12.8-17.066667 27.733333-27.733333 40.533333-4.266667 4.266667-8.533333 12.8-4.266667 17.066667 0 4.266667 4.266667 4.266667 8.533333 4.266666 8.533333 4.266667 12.8 4.266667 21.333334 8.533334 4.266667 0 8.533333 4.266667 4.266666 8.533333 0 0 0 4.266667-4.266666 4.266667-21.333333 23.466667-44.8 40.533333-66.133334 61.866666-4.266667 4.266667-8.533333 12.8-8.533333 17.066667 0 4.266667 4.266667 4.266667 4.266667 8.533333s-4.266667 4.266667-8.533334 8.533334c-8.533333 4.266667-17.066667 8.533333-23.466666 12.8-4.266667 8.533333 0 23.466667-4.266667 32-4.266667 23.466667-17.066667 40.533333-27.733333 61.866666-8.533333 12.8-12.8 27.733333-21.333334 40.533334 0 17.066667-4.266667 32 4.266667 44.8 21.333333 32 61.866667 12.8 93.866667 27.733333 8.533333 4.266667 17.066667 4.266667 23.466666 12.8 12.8 12.8 12.8 36.266667 17.066667 49.066667 4.266667 17.066667 8.533333 36.266667 17.066667 53.333333 4.266667 21.333333 12.8 44.8 17.066666 61.866667 40.533333-32 76.8-66.133333 102.4-110.933334 32-27.733333 44.8-64 57.6-100.266666z" fill="#0277BD"></path></g>
        </svg>
        <p><b>Spełnienie wymogów ekologicznych:</b> Redukcja śladu węglowego i budowanie zielonego wizerunku firmy.</p>
      </li>
      <li class="flex items-start gap-4 pl-4">
        <svg width="24px" height="24px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M787.2 294.4l-38.4-76.8L160 512l588.8 294.4 38.4-76.8L352 512z" fill="#90CAF9"></path><path d="M128 384h256v256H128z" fill="#D81B60"></path><path d="M640 128h256v256H640zM640 640h256v256H640z" fill="#2196F3"></path></g>
        </svg>
        <p><b>Lepsza kontrola:</b> Możliwość zapobiegania problemom dzięki monitorowaniu.</p>
      </li>
    </ul>
  </div>
</div>
